@import '../../variables.scss';

.repoCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    height: 75px;
    background: #fff;
    border-radius: 4px;
    color: $color-black;
    margin: 0 16px 16px 0;
    padding: 16px;
    cursor: pointer;
    transition: .3s ease all;

    &:hover {
        background: $color-white-hover;
    }
}