@import '../../variables.scss';

.default {
    display: flex;
    flex-direction: column;


    .header {
        display: flex;
        justify-content: space-between;
        background: $color-brand;
        color: $color-white;
        padding: 24px 32px;
    }

    .content {
        padding: 24px;
        min-height: 90vh;
        background: $bgcolor-content;
        color: $color-white;
    }
}